<footer class="site-footer">
  <div class="container">
    <div class="site-info">
      <p>&copy; {{ site.time | date: "%Y" }} Anxo López Rodríguez. Tódolos dereitos reservados.</p>
    </div>
    <div class="social-links">
      <a href="https://www.x.com/anxolo_/" title="X (Twitter)" target="_blank" rel="noopener noreferrer" class="social-icon">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="https://bsky.app/profile/anxolo.bsky.social" title="Bluesky" target="_blank" rel="noopener noreferrer" class="social-icon">
        <i class="fab fa-bluesky"></i>
      </a>
      <a href="https://github.com/anxolo" title="GitHub" target="_blank" rel="noopener noreferrer" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/anxo-lopez-rodriguez" title="LinkedIn" target="_blank" rel="noopener noreferrer" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</footer>
