<footer class="site-footer">
  <div class="container">
    <div class="site-info">
      {% assign current_lang = page.lang | default: "gl" %}
      {% if current_lang == "es" %}
      <p>&copy; {{ site.time | date: "%Y" }} Anxo López Rodríguez. Todos los derechos reservados.</p>
      {% elsif current_lang == "en" %}
      <p>&copy; {{ site.time | date: "%Y" }} Anxo López Rodríguez. All rights reserved.</p>
      {% else %}
      <p>&copy; {{ site.time | date: "%Y" }} Anxo López Rodríguez. Tódolos dereitos reservados.</p>
      {% endif %}
    </div>
    <div class="social-links">
      <a href="https://www.x.com/anxolo_/" title="X (Twitter)" target="_blank" rel="noopener noreferrer" class="social-icon">
        <img src="/assets/pictures/x.png" alt="X (Twitter)" style="width: 20px; height: 20px;">
      </a>
      <a href="https://bsky.app/profile/anxolo.bsky.social" title="Bluesky" target="_blank" rel="noopener noreferrer" class="social-icon">
        <img src="/assets/pictures/bluesky.png" alt="Bluesky" style="width: 20px; height: 20px;">
      </a>
      <a href="https://linkedin.com/in/anxo-lopez-rodriguez" title="LinkedIn" target="_blank" rel="noopener noreferrer" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/anxolo" title="GitHub" target="_blank" rel="noopener noreferrer" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
